<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalproject.pickcoin.repository.CommunityRepository">

    <!-- 전체 조회 -->
    <select id="findAll" resultType="com.finalproject.pickcoin.domain.Community">
        SELECT * FROM community
    </select>

    <!-- 단건 조회 -->
    <select id="findById" parameterType="int" resultType="com.finalproject.pickcoin.domain.Community">
        SELECT * FROM community WHERE post_id = #{post_id}
    </select>

    <!-- 삽입 -->
    <insert id="insert" parameterType="com.finalproject.pickcoin.domain.Community">
    INSERT INTO community (
        user_id, coin_id, title, content, like_count, cnt, reply_count, status, created_at, updated_at
    ) VALUES (
        #{user_id},
        #{coin_id},
        #{title},
        #{content},
        COALESCE(#{like_count}, 0),
        COALESCE(#{cnt}, 0),
        COALESCE(#{reply_count}, 0),
        #{status},
        NOW(), NOW()
    )
</insert>


    <!-- 수정 -->
    <update id="update" parameterType="com.finalproject.pickcoin.domain.Community">
        UPDATE community
        SET
            user_id = #{user_id},
            coin_id = #{coin_id},
            title = #{title},
            content = #{content},
            like_count = #{like_count},
            cnt = #{cnt},
            reply_count = #{reply_count},
            status = #{status},
            updated_at = NOW()
        WHERE post_id = #{post_id}
    </update>

    <!-- 삭제 -->
    <delete id="delete" parameterType="int">
        DELETE FROM community WHERE post_id = #{post_id}
    </delete>

    <update id="increaseLikeCount" parameterType="int">
        UPDATE community
        SET like_count = like_count + 1,
            updated_at = NOW()
        WHERE post_id = #{value}
    </update>

</mapper>